/**** ABOUT SECTION STYLES ****/

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2% 0 8%;
}

.about-text {
    width: 60%;
    margin-right: 5%;
    letter-spacing: .5px;
    line-height: 1.4rem;
}

.about-image {
    width: 25%;
    /* padding: 1rem; */
}

.profile {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 10%;
}

.pdf-icon {
    vertical-align: middle;
    margin-left: .3rem;
}

.cta-line:hover {
    color: var(--main-color)
}

/**** SKILLS SECTION STYLES ****/

.skills-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.skill {
    min-width: 120px;
    width: 12%;
    padding: .5rem;
    margin: 1rem .5rem;
    text-align: center;
    font-family: var(--headline-font);
    color: var(--dark-shade-color);
    letter-spacing: .5px;
}

.devicon {
    font-size: 3rem;
}

.skill-label {
    margin-top: .5rem;
}

.skill:hover {
    color: var(--light-accent-color)
}

/**** FEATURED PROJECT SECTION STYLES ****/

.featured-projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: var(--dark-accent-color);
    padding: 2rem 3rem;
}

.featured-project-card {
    width: 30%;
    min-width: 300px;
    padding: 2rem 1.5rem 3rem;
    margin: 1rem .5rem;
    border: 1px solid var(--light-shade-color);
    border-radius: 5px;
    background-color: white;
}

.featured-project-card-image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 250px;
}

.featured-project-card > h2 {
    margin: 2rem 0 .5rem;
}

.featured-project-card > h4 {
    margin: 1rem 0 .3rem;
}

.featured-project-card > p {
    margin: .3rem 0 1.5rem;
    line-height: 1.4rem;
}

.icon-row > a {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
}