/**** ABOUT SECTION STYLES ****/

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 60%;
    margin-right: 1rem;
    letter-spacing: .5px;
    line-height: 1.4rem;
}

.about-image {
    width: 35%;
    padding: 1rem;
}

.profile {
    max-width: 100%;
    width: 250px;
    border-radius: 10%;
}

/**** SKILLS SECTION STYLES ****/

.skills-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.skill {
    min-width: 120px;
    width: 15%;
    padding: .5rem;
    margin: 1rem .5rem;
    text-align: center;
    font-family: var(--headline-font);
    color: var(--dark-shade-color);
    letter-spacing: .5px;
}

.devicon {
    font-size: 3rem;
}

.skill-label {
    margin-top: 5px;
}

.skill:hover {
    color: var(--light-accent-color)
}

