:root {
  --headline-font: 'Roboto', sans-serif;
  --body-font: 'Source Sans Pro', sans-serif;
  --logo-font: 'Zeyada', cursive;
  --main-color: #26759A;
  --light-accent-color: #3DBDD7;
  --dark-accent-color: #956B72;
  --dark-shade-color: #213248;
  --light-shade-color: #E2E4EB;
}

* {
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 16px;
  font-family: var(--body-font);
}

h1, h2, h3, h4 {
  font-family: var(--headline-font);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--light-accent-color);
}

a:hover {
  color: var(--main-color)
}

/**** HEADER STYLES ****/
.logo {
  font-family: var(--logo-font);
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--dark-shade-color);
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;  
}

.navlink > a {
  color: #ffffff;
}

.navlink > a:hover {
  color: var(--light-accent-color);
}

nav > div {
  margin-left: 1rem;
}

/**** MAIN SECTION STYLES ****/

.main-container, .contact-container, .section-container, .hero {
  padding: 0 0 1rem 0;
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: #ffffff;
}

.section-header > h2 {
  display: inline-block;
  background-color: #ffffff;
  margin: 0;
  padding: 0 2rem;
  z-index: 5;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--main-color);
  font-family: var(--logo-font);
}

.header-line {
  display: inline-block;
  height: 2px;
  width: 90%;
  right: 1%;
  z-index: 0;
  position: absolute;
  background-color: var(--light-accent-color);
}

/**** CONTACT STYLES ****/

.contact-container {
  background-color: var(--light-shade-color);
}

.contact-description {
  width: 70%;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
}

/**** FOOTER STYLES ****/

footer {
  text-align: center;
  font-family: var(--logo-font);
  font-size: 1.3rem;
}