:root {
  --headline-font: 'Roboto', sans-serif;
  --body-font: 'Source Sans Pro', sans-serif;
  --logo-font: 'Zeyada', cursive;
  --main-color: #26759A;
  --light-accent-color: #3DBDD7;
  --dark-accent-color: #956B72;
  --dark-shade-color: #213248;
  --light-shade-color: #E2E4EB;

}

.App {
  text-align: center;
}